@import "tailwindcss";

/***Root specifies light theme layout colors and styles***/
/*Basic root layout*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*Just makes whatever is inside the media query set to your predefined values for "dark"*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/***Allows you to use your custom variables as normal tailwind values (eg. bg-background) ***/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/***Custom Themes to toggle ***/
.theme-sepia {
  --background: #f4ecd8;
  --foreground: #5b4636;
}

.theme-blue {
  --background: #e0f2fe;
  --foreground: #1e3a8a;
}




/***Fallback styles for before the tailwind utilities are in place***/
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
